body {
    margin: 0;
    font-family: Arial, sans-serif;
}
a::first-letter {
    color: #000000;
    font-size: x-large;
  }

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: #e98181;
    border-radius: 15px;
    margin: 1vh 1vw 1vh 1vw;
    height: 15px;
    

}
nav a:hover{
    background-color: crimson;
    color: #fff;
}

#navpic {
    width: 30px;
    height: 30px;
    object-fit: fill;
    margin-left:auto;
    border-radius: 50%;
}

posts {
    display: flex;
    margin: 2vh 15% 1vh 15%;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 25px;
    padding: 5px;
}

apost {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0px;
    background-color: #e98181;
    border-radius: 15px;
    margin-top: 15px;
}


info {
    display: flex;
    gap: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5vw;

}

info > p {
    font-size: medium;
}

img.infoimg {
    width: 30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
}

message {
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    margin-right: 1vw;

    
}

message p {
    font-size: medium;
    line-height:1;
}

img.msgimg {
    width:100%;
    
}
img.likeimg {
    width: 30px;
    margin-bottom: 10px;
}

footer {
    margin-top: 5vh;
    background-color: #e98181;
    border-radius: 15px;
    height: 10vh;
}

/* Dropdown Button */
.dropbtn {
    background-color: #e98181;
    color: white;
    padding: 5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: crimson;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    float: right;
    position:relative;
    display:block;
    margin-left: auto;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
